{% extends 'base.html.twig' %}

{% block title %}UserContactInfo index{% endblock %}

{% block body %}
    <h1>UserContactInfo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Phone_number</th>
                <th>Address</th>
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_contact_info in user_contact_infos %}
            <tr>
                <td>{{ user_contact_info.id }}</td>
                <td>{{ user_contact_info.phoneNumber }}</td>
                <td>{{ user_contact_info.address }}</td>
                <td>{{ user_contact_info.getUserId().getName() }}</td>
                <td>
                    <a href="{{ path('user_contact_info_show', {'id': user_contact_info.id}) }}">show</a>
                    <a href="{{ path('user_contact_info_edit', {'id': user_contact_info.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_contact_info_new') }}">Create new</a>
{% endblock %}
